{% extends 'base.html' %}
{% block title %}Log in{% endblock %} 
{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">e-COMB</a>
</nav>

{% endblock %} 

{% block body %}
<div class='container'>
    
    <div class = 'next-msg'>
        {% if next %}<p>You have to log in first;)</p>{% endif %}
    </div>

<h5>Welcom to e-COMB</h5>
<p>Please, login below </p>
<div class = 'login-input'>
<form method='post' action="{% url 'Login' %}">
        {% csrf_token %}
        {{ form.as_f }}

        <p>Username: {{ f.username }}</p>
        <p>Password: {{ f.password }}</p>

<p><input type="submit" value="Log in">
    <input type="submit" value="Register"></p>

<input type = "hidden" name="next" value = {{ next }}>
</form>
</div>
</div>
{% endblock %}  
